/* font 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background-color: #EBEBEB;
  justify-content: center;
  display: grid;
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #E63A4F;
  font-size: 30px;
  font-weight: 700;
}


#fullpage {
  color: rgb(133, 133, 133);
  grid-column: 2 / 3;
  width: 600px;
  display: grid;
}

#first-tabs {
  letter-spacing: 0.5px;
  font-family: 'Montserrat', sans-serif;
  padding: 25px;
  display: grid;
  justify-items: center;
  grid-column: 2 / 3;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 1);
  box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 1);
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: justify;
}


#first-tabs img {
  border-radius: 50%;
  width: 20%;
  border: 4px solid rgb(204, 203, 203);
}

button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: white;
  background-color: #E63A4F;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 50px;
  width: 150px;
  font-size: 16px;
}

#socialmedia {
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  grid-column: 2 / 3;
  display: grid;
  background-color: white;
  width: 600px;
  height: 150px;
  padding-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 1);
  box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 1);
}

#socialmedia li {
  display: inline-block;
  padding-right: 50px;
  padding-top: 15px;
  font-style: normal;
  color: grey;
  opacity: 0.3;
}

#favoritemovies {
  display: grid;
  grid-column: 2 / 3;
  width: 600px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 1);
  box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 1);
}

#favoritemovies h3 {
  font-size: 20px;
}

.movies-pics {
  width: 120%;
}


#favoritemovies h2,
#favoritemovies h3 {
  padding-top: 40px;
  text-align: center;
}

#favoritemovies p {
  text-align: justify;
  margin-left: 30px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 150%;
}